:root {

    /* Text */

    --font-family:"Roboto";
    --main-color: #212121; 
    --secondary-color: #757575;
    --color: #000;
    --font:"raleway";
   
    
     
    /*baground color */

    --common-white: #FFFFFF;
    --accent-color: #2196F3;
    --primary-color: #2F303A;
    --middle:#E5E5E5;
    --end: #F5F4FA;
    
}

   /* Common */

 body {
    font-family: var(--font-family);
    color: var(--main-color);
    font-weight:400;
    font-style: normal;
    font-size: 16px;    
 }

 .link {
    text-decoration:none;
    font-family: inherit;
 }

 .list {
    list-style: none;
    padding:0%;
 }

 .button {
    border:none;
    background-color: transparent;
    color: inherit;
    cursor: pointer;
 }

.accent {
   color:var(--accent-color);
}

/* Header */
.header {
   background-color: var(--common-white);
   width: 1600px;
   margin: 0 auto;
   padding: 32px 215px;
   display: flex;
   align-items: center;
}

.logo {
   font:"raleway";
   font-size: 26px;
   line-height: 1.19;
   color: var(--color);
}

.logo-web {
   color: var(--accent-color);
}

.navigation {
font-family: var(--main-font);
display: flex;
align-items: center;
margin-right: 330px;
}
.nav-list {
  display: flex;
}

.navigation-item {
  margin-right: 50px; 
}

.navigation-contacts {
   display: flex;
}   

.nav-link {
   font-weight: 500;
   font-size: 14px;
   line-height: 1.1;
   color:var(--color);
}

.nav-link.accent {
   font-weight: 500;
   font-size: 14px;
   line-height: 1.1;
   color: var(--accent-color);
}

.nav-link:hover,
.nav-link:focus{
   color: var(--accent-color);
}

.email {
   margin-right: 50px;
   text-decoration: none;
   color: var(--accent-color);
}

.phone {
   text-decoration: none;
   color: var(--secondary-color);
}   

/* Hero */

.hero-container {
   width: 1600px;
   height: 600px;
   display:flex;
}      
   
.hero {
   background-color: var(--primary-color);
   padding: 200px 452px 280px 452px;
   align-items:center ;
}
   
.hero-title {
   margin-top: 0;
   font-weight: 900;
   font-size: 44px;
   line-height: 1.3;
   color: #FFFFFF;
   font-family: var(--font-family);
   margin-bottom: 30px;
   text-align: center;
  }  

.hero-btn {

   font-size: 16px;
   line-height: 1.8;
   color: var(--common-white);
   background: var(--accent-color);
   border-radius: 4px;  
   align-items: center; 
}

.hero-btn:hover,
.hero-btn:focus {
   color: var(--common-white);
}

/* Information */

.information {
   background-color: var(--common-white);
   display: flex;
   align-items: center;
   width: 1170px;
   margin: 0 auto;
}
.item-list {
   font-family: var(--main-font);
   margin-top: 94px;
 }
 .list-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.14;
    color: var(--main-color);
 }
.list-text {
   font-weight: 400;
   color: var(--secondary-color);
   font-size: 14px;
   line-height: 1.7;
   margin-right: 30px;
   margin-top: 10px;
}
 
/* Section */

.section {
   background-color: var(--common-white);
   width: 1600px;
   height: 648px;
}

.section-title {
   font-weight: 700;
   font-size: 36px;
   line-height: 1, 9;
   width: 376;
   font-family: var(--main-font);
   color: var(--main-color);
   align-items: center;
   display: flex;
   margin: 0 auto;
   padding: 94px 612px 50px;
   
   
}
.decription-images {
   
   display: flex;
 
}
.decription-image {
   width: 370px;
   height: 294px;
   
}

/*  Team */

.team- {
   background: var(--end);
}

.team-title- {
   font-weight: 700;
   font-size: 36px;
   line-height: 1.16;
   text-align: center;
}

.team-blok {
   display: flex;
   text-align: center;
}

.team-item {
   font-weight: 500;
   font-size: 16px;
   line-height: 1.18;
   text-align: center;
}

.team-text {
   font-weight: 400;
   font-size: 16px;
   line-height: 1.18;
   text-align: center;
   color: var(--secondary-color);
}

.team-img {
   width: 270px;
   height: 260px;
  
}

/* Footer */

.footer {
   background-color: var(--primary-color);
   padding: 60px 215px;
}

.address {
   text-decoration: none;
   font-weight: 400;
   font-size: 14px;
   line-height: 1.8;
   color: var(--common-white);
   font-style: normal;
}

.emaeil-footer {
   text-decoration: none;
   font-weight: 400;
   font-size: 14px;
   line-height: 1.8;
   font-style: normal;
   color: rgba(255, 255, 255, 0.6);
}

.phone-footer {
   text-decoration: none;
   font-weight: 400;
   font-size: 14px;
   line-height: 1.8;
   font-style: normal;
  color: rgba(255, 255, 255, 0.6);
}


.phone-footer:focus,
.phone-footer:hover {
   color: var(--accent-color);
}

.email-footer:focus,
.email-footer:hover {
   color: var(--accent-color);
}

/* Portfolio */

.portfolio-title {
   font-weight: 700;
   font-size: 36px;
   line-height: 1, 9;
   width: 376;
   font-family: var(--main-font);
   color: var(--secondary-color);
   align-items: center;
   display: flex;
   margin: 0 auto;
   padding: 94px 612px 50px;


}
